<div id="sidebar">
    <h4>Categorías</h4>
    <ul>
        <li><a href="/convert">Archivos para convertir</a></li>
        <li><a href="/list">JSON</a></li>
        <li><a href="/listByCom">Buscador por comisión</a></li>
    </ul>
</div>